*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

hr{
    width: 100%;
}
section{
    margin-top: 25px;
    margin-bottom: 25px;
}

.kirby{
    width: 300px;
}